{% extends 'base.html' %}
{% block content %}
<div class="commission">
  <h2>Submit Commission</h2>
  <p>
    I am currently accepting commissions for custom artwork. 
    If you are interested in commissioning a piece, please fill 
    out the form below and I will get back to you as soon as possible. 
    Feel free to contact me if you would like to discuss the commission.
  </p>
  <form action="{% url 'create_checkout_session' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
  </form>
</div>

{% endblock %}