*.pyc
*.pyo
__pycache__

venv/
*.env

*/migrations/*

*.sqlite3
*.db
*.log

*.env
config/settings.py
config/secrets.py

static/

media/

.ipynb_checkpoints

.vscode/
.idea/

*.coverage
*.coverage.*
nosetests.xml
pytest*.xml
cover/

*.bak
*.swp
